<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="overlay-left">
            <h1>{{'Welcome!' | translate}}</h1>
            <p style="color: white;">{{'To keep connected with us please login with your creditionals' | translate}}</p>
            <button class="btn btn-outline-light" (click)="loginClick()">{{'LogIn' | translate}}</button>
        </div>
        <div class="form">
            <form (ngSubmit)="onRegister()">
                <h2 style="color: black; margin-bottom: 50px;">{{'Create Your Account' | translate}}</h2>
                <p *ngIf="errorMessage">{{ errorMessage }}</p>
                <input type="text" [(ngModel)]="firstName" name="firstName" placeholder="{{'First Name' | translate}}" required class="form-control"/>
                <input type="text" [(ngModel)]="lastName" name="lastName" placeholder="{{'Last Name' | translate}}" required class="form-control"/>
                <input type="email" [(ngModel)]="email" name="email" placeholder="{{'Email' | translate}}" required class="form-control"/>
                <input type="password" [(ngModel)]="password" name="password" placeholder="{{'Password' | translate}}" required class="form-control" />
                <button type="submit" id="signup" class="btn btn-danger">{{'Register' | translate}}</button>
            </form>
            <span style="margin-top: 30px;">
                <button (click)="changeLanguage('ml')" class="me-2" style="border: 0; background-color: #ffffff; text-decoration: underline; color: rgba(168, 16, 16, 0.973);">മലയാളം</button> <span>  </span>
                <button (click)="changeLanguage('en')" style="border: 0; background-color: #ffffff; text-decoration: underline; color: rgba(168, 16, 16, 0.973);">English</button>
            </span>
        </div>
        
       
    </div>
</body>
</html>